ul {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 12px;

  width: 524px;

  background: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  flex: none;
  order: 1;
  flex-grow: 0;
  overflow: hidden;

  li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;

    letter-spacing: -0.4px;

    color: #A4A3A4;
  }

}