.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

  width: 620px;
  height: 198px;

  background: #CFD3D6;

  flex: none;
  order: 1;
  flex-grow: 0;
}
