.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

  width: 620px;
  height: 198px;

  background: #CFD3D6;

  flex: none;
  order: 1;
  flex-grow: 0;
  .volume {
    -webkit-appearance: none;
    width: 252px;
    height: 2px;
    background: #FFFFFF;
    outline: none;
    position: relative;
    left: 56.6%;
    top: 25%;
  }

  .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 12px;
    background: #000000;
    margin-top: -5px;
    position: relative;
    z-index: 1;
  }
  .range {
    -webkit-appearance: none;
    width: 580px;
    height: 2px;
    background: #ADACAD;
    outline: none;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: -5px;
  }

  .range::-moz-range-thumb {
    width: 16px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: -5px;

  }
}

.playBtn{
  width: 40px;
  height: 40px;
  border-top: 20px solid #CFD3D6;
  border-bottom: 20px solid #CFD3D6;
  border-left: 40px solid #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.pauseBtn {
  position: relative;
  width: 30px;

  background: #FFFFFF;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #FFFFFF;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

@media (max-width: 800px) {
  .player {
    width: 580px;
    .volume {
      -webkit-appearance: none;
      width: 40%;
      height: 2px;
      background: #FFFFFF;
      outline: none;
      position: relative;
      left: 56.6%;
      top: 25%;
    }

    .volume::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 12px;
      background: #000000;
      margin-top: -5px;
      position: relative;
      z-index: 1;
    }
    .range {
      width: 100%;
      -webkit-appearance: none;
      height: 2px;
      background: #ADACAD;
      outline: none;
    }

    .range::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 16px;
      height: 12px;
      background: #FFFFFF;
      border-radius: 6px;
      margin-top: -5px;
    }

    .range::-moz-range-thumb {
      width: 16px;
      height: 12px;
      background: #FFFFFF;
      border-radius: 6px;
      margin-top: -5px;

    }
  }
}



